.dropArea {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-out;
  padding: 0;
  margin: 0;
}

.innerDropArea {
  transition: all 300ms ease-out;
  border-radius: 30px;
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
